.breadcrumb {
  margin-top: 25px;
  font-size: 14px;
  color: #555;
}

.breadCrumbLink {
  cursor: pointer;
  color: #9d9d9d;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover {
    color: #555;
  }
  &[data-active="true"] {
    font-weight: bold;
  }
}

.breadCrumbCurrent {
  font-weight: bold;
  color: #333;
}

.bar {
    border: 2px solid #E4E4E4;
    padding: 0.75rem 1.5rem;
    margin-top: 15px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar .emptyWishList {
  padding: .5rem 2rem;
  cursor: pointer;
  background-color: red;
  color: white;
}

.wishListItemCard {
    border: 2px solid rgb(248,228,228);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.leftSection {
    display: flex;
    gap: 2rem;
    align-items: start;
}

.imageContainer {
    height: 150px;
    width: 100px;
}

.imageContainer img {
    height: 100%;
    width: 100%;
}

.rightSection {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rightSection .priceContainer {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSection .priceContainer .oldPrice {
    font-size: 12px;
    text-decoration: line-through;
}

.actionButtons {
    margin-right: 2rem;
    display: flex;
    gap: 2.5rem;
}