.titleContainer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer .bookItemsCount span.bookGeneric {
    font-size: 2.5rem;
    font-weight: 600;
}

.titleContainer .bookItemsCount span.bookCount {
    opacity: 0.5;
}