footer {
    width: 100%;
    background-color: #2E1D1E;
    height: 50px;
    padding: 1rem;
    position: fixed;
    bottom: 0;
}

.footerContainer {
    max-width: 1200px;
    margin: auto;
}

.footerContainer p {
    color: #FFFFFF;
    font-size: 12px;
}