.header {
  height: 60px;
  width: 100%;
  background-color: #A03037;
}

.headerContainer {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #f0f0f0;
    gap: 0.5rem;
    padding-left: 1rem;

    p {
        color: white;
    }
}

.title {
    text-align: center;
    margin: 4rem;
    text-transform: capitalize;
}

.forgetPasswordBox {
    height: 385px;
    width: 450px;
    margin: auto;
    padding: 2.5rem;
    color: #878787;
    border: 2px solid rgb(248, 228, 228);
}

form {
    margin-top: 20px;
}

.emailField, .resetPasswordButton {
    width: 100%;
}

.resetPasswordButton {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #A03037;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f0f0f0;
}

.createAccountLink {
    margin-top: 25px;
    color: #0A0102;
    background-color: #F9F9F8;
    height: 120px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}